body{
    background-color: rgb(219,234,254);
}
.titles{
    top: 80px;
    position: absolute;
    left: 120px;
}
.login{
    font-size: 3.5em;
    margin-bottom: 0;
}
.orSignup{
    display: flex;
}
.or{
    margin-top: 0;
    top: 10px;
    position: relative;
}
.signup{
    margin-top: 0;
}
.inputs{
    position: absolute;
    top: 320px;
    left: 100px;
    display: flex;
    flex-direction: column;
}
.inputarea{
    width: 600px;
    height: 60px;
    border: 7px rgb(66 91 107) solid;
    background-color: #acd0e6;
    border-radius: 30px;
    font-size: xx-large;
    padding: 3px;
}
.rightarea{
    background-color: rgb(54, 120, 235);
    height: 80vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.sociallogin{
    width: 520px;
    height: 65px;
    background-color: #acd0e6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.loginbutton{
    width: 120px;
    height: 45px;
    border: rgb(66 91 107) solid 3px;
    background-color: #acd0e6;
    border-radius: 10px;
    color: #707070;
    cursor: pointer;
}
.loginbutton:hover{
    width: 120px;
    height: 45px;
    border: rgb(66 91 107) solid 3px;
    background-color: rgb(155, 196, 212);
    border-radius: 10px;
    color: #707070;
    cursor: pointer;
}
.forgotpass{
    margin-block-start: 10px;
}