<!DOCTYPE html>
<html>
    <head>
        <title>ホーム</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/postlist.css') }}">
    </head>
    <body>
        <h1>ここにヘッダーがくる</h1>
        <div class="container">
            <h1>現在人気の募集</h1>
            <div class="company-list">
                <div class="company cp-trend">
                    <p class="cp-title cp-title-trend">☆超簡単！高収入！☆</p>
                    <div class="cp-name">
                        <img src="{{ url_for('static',filename='images/User.svg') }}">
                        <h1 class="cp-name-text">Sagi.Co.Ltd</h1>
                    </div>
                    <h3 class="evaluation">☆☆☆☆☆5</h3>
                </div>
            </div>
            <h2>最近追加された募集</h2>
            <div class="company-list">
                <div class="company">
                    <p class="cp-title">☆超簡単！高収入！☆</p>
                    <div class="cp-name">
                        <h2 class="income">月収:</h2>
                    </div>
                    <h3 class="evaluation">☆☆☆☆☆5</h3>
                </div>
                <div class="company">
                    <p class="cp-title">☆超簡単！高収入！☆</p>
                    <div class="cp-name">
                        <h2 class="income">月収:</h2>
                    </div>
                    <h3 class="evaluation">☆☆☆☆☆5</h3>
                </div>
            </div>
        </div>
    </body>
</html>