<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
</head>
<body>
    <div class="container mx-auto px-8">
        {% for post in posts %}
            <li>{{ post.title }}：{{post.content}}</li>
        {% endfor %}
    </div>
</body>
</html>