<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <div class="titles">
            <h1 class="login">ログイン</h1>
            <div class="orSignup">
                <h2 class="or">または</h2>
                <a href="/signup"><h1 class="signup">サインアップ</h1></a>
            </div>
        </div>
        <form action="/login" method="post" class="inputs">
            <input type="email" name="email" id="email" class="inputarea" placeholder="メールアドレスを入力">
            <input type="password" name="password" id="password" class="inputarea" style="margin-top: 80px;" placeholder="パスワードを入力">
            <a href=""><p class="forgotpass">パスワードを忘れた場合</p></a>
            <button type="submit" class="loginbutton">ログイン</button>
        </form>
        <div class="rightarea">
            <h3 style="margin-top: 150px;">または</h3>
            <a href="" class="sociallogin"><h2 style="margin-left: 80px;">Googleアカウントでログイン</h2></a>
            <a href="" class="sociallogin"><h2 style="margin-left: 80px;">FaceBookでログイン</h2></a>
            <a href="" class="sociallogin"><h2 style="margin-left: 80px;">Xからログイン</h2></a>
        </div>
    </body>
</html>