{% extends 'layout.html' %}

{% block title %}投稿{% endblock %}

{% block content %}
<div class="flex justify-center items-center">
    <form action="/post" method="POST" class="flex flex-col justify-center items-center mt-10">
        <div class="mb-4">
            <label for="title" class="block text-gray-700">タイトル</label>
            <input type="text" name="title" id="title" class="w-full px-3 py-2 border border-gray-300 rounded">
        </div>
        <div class="mb-4">
            <label for="content" class="block text-gray-700">内容</label>
            <textarea name="content" id="content" class="w-full px-3 py-2 border border-gray-300 rounded"></textarea>
        </div>
        <div class="mb-4">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">投稿</button>
        </div>
    </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}