<!DOCTYPE html>
<html>
    <head>
        <title>signup</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    </head>
    <body>
        <div class="titles">
            <h1 class="signup">サインアップ</h1>
            <div class="orSignup">
                <h2 class="or">または</h2>
                <a href="/login"><h1 class="ログイン">ログイン</h1></a>
            </div>
        </div>
        <form action="/signup" method="POST" class="inputs">
            <input name="username" id="username" style="display: none;" value="default">
            <input type="email" name="email" id="email" class="inputarea" placeholder="メールアドレスを入力">
            <input type="password" name="password" id="password" class="inputarea" style="margin-top: 80px;" placeholder="パスワードを入力">
            <a href=""><p class="forgotpass">パスワードを忘れた場合</p></a>
            <button type="submit" class="signupbutton">サインアップ</button>
        </form>
        <div class="rightarea">
            <h3 style="margin-top: 150px;">または</h3>
            <a href="" class="socialsignup"><h2 style="margin-left: 80px;">Googleアカウントでサインアップ</h2></a>
            <a href="" class="socialsignup"><h2 style="margin-left: 80px;">FaceBookでサインアップ</h2></a>
            <a href="" class="socialsignup"><h2 style="margin-left: 80px;">Xからサインアップ</h2></a>
        </div>
    </body>
</html>